:root {
    /* brand colors */
    --brand-1: #bae6fd;
    --brand-2: #38bdf8;
    --brand-3: #0369a1;
    --brand-4: #082f49;
}
* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--brand-1);
}
.header {
    grid-area: header;
}
.user-icon{
    display: flex;
    
}

/* main area with cards, announcements and trending sections */
.main {
    grid-area: main;
    outline: 1px solid red;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 40px 1fr 40px 1fr;
    grid-template-areas: 
    "cards-title announcements-title"
    "cards announcements"
    "cards trending-titles"
    "cards trending"
    ;
}
.main *{
    outline:1px solid green
}
.cards.titles {
    grid-area: cards-title;
}
.announcements.titles {
    grid-area: announcements-title
}
.trending.titles {
    grid-area: trending-titles;
}
.cards {
    grid-area: cards;
}
.announcements {
    grid-area: announcements;
}
.trending {
    grid-area: trending;
}