:root {
    /* brand colors */
    --brand-1: #bae6fd;
    --brand-2: #38bdf8;
    --brand-3: #0369a1;
    --brand-4: #082f49;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.55fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--brand-4);
    display: grid;
    grid-template-rows: 5% 30%;
    gap: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.header {
    grid-area: header;
    padding: 1%;
}

.header-1 {    
    display: grid;
    
    grid-template-columns: 2fr 1fr;
}
.header-1 * {
    padding: 3px
}
.header-1 .user-icon {
    display: flex;    
    justify-content: space-around;
    align-items: center;
}
.header .search {
    display: flex;    
    justify-content: left;
    align-items: center;
}
.search #search-bar{
    flex: 0.9;
    border-radius: 15px;
    outline: none
}
#bell, l {
    width: 20px
}
#avatar-small {
    width: 40px
}
.user-icon .full-name{
    font-weight: 900;
    
}
.header-2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    
    padding: 10px
}
.header-2-1 {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 0.25fr 2fr;
    grid-template-areas: 
    "avatar-big greetings"
    "avatar-big username"
    ;
} 
.avatar-big{
    grid-area: avatar-big;
    width: 40px;
}
.greetings {
    grid-area: greetings;
    font-size: 12px;
}
.username {
    grid-area: username
}
.header-buttons {
    display: flex;
    justify-content: space-around;
}
.header-buttons button{
    min-width:100px;
    border-radius: 18px;
    color: white;
    background-color: var(--brand-3);
    border: none;
    font-weight: 800;
}
/* main area with cards, announcements and trending sections */
.main {
    grid-area: main;
    
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 40px 1fr 40px 1fr;
    grid-template-areas: 
    "cards-title announcements-title"
    "cards announcements"
    "cards trending-titles"
    "cards trending"
    ;
}

.cards.titles {
    grid-area: cards-title;
    align-self: center;
    color: var(--brand-3);
    font-size: large;
    font-weight: bold;
}
.announcements.titles {
    grid-area: announcements-title;
    align-self: center;
    color: var(--brand-3);
    font-size: large;
    font-weight: bold;
}
.trending.titles {
    grid-area: trending-titles;
    color: var(--brand-3);
    font-size: large;
    font-weight: bold;
}
.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
    gap: 15px;
    background-color: lightgrey;
    padding: 12px;
}
.card {
    padding: 10px;    
    border-left: 8px solid var(--brand-3);
    border-radius: 10px;
    outline: 1px solid grey;
    background-color: white;    
}
.card-title {
    font-weight: 800;
}
.announcements {
    grid-area: announcements;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5%;

}
.announcements-item {
    border-bottom: 1px solid gray;
    padding: 3%;
    font-size: 0.9rem;
}
.announcements-header {
    font-weight: bold;
}
.trending {
    grid-area: trending;
    padding: 12px;
}
